{% load static %}
{% static 'img' as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>Hello, {{user.first_name}}</li>
            <li><a href="accounts/logout">logout</a></li>
            {% else %}
            <li><a href="accounts/register">Register</a></li>
            <li><a href="accounts/login">login</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>the ugly website</h1>
    {% for dest in dests %}
    <div class="first">
        <img src="{{dest.img.url}}" alt="">
        <h2>{{dest.name}}</h2> 
        {% if dest.offer %}
        <p>offer : -10%</p>
        {% endif %}
        <p>{{dest.desc}}</p>
        <p>price {{dest.price}}</p>
    </div>
    {% endfor %}
</body>
</html>